<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout/main.html">
    <div layout:fragment="mainPage">
        <div class="row m-1">
            <div class="col-12">
                asvasvasv
            </div>
        </div>
        <div class="row m-1">
            <div class="col">
                <div class="card p-1" style="width: 250px">
                    <a href="#" class="link-primary text-decoration-none">
                        <h5 class="card-title">asvsavasv1111</h5>
                    </a>
                    <div class="card-body">
                        <div class="card mt-2">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="#" class="link-primary text-decoration-none">
                                        asdasdasdasd
                                    </a>
                                </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>