<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout/main.html">
    <div layout:fragment="mainPage">
        <div class="row mt-2">
            <div class="col-6 mx-auto">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#projectAddModal">
                    + Add Project
                </button>

                <!-- Modal -->
                <div class="modal fade" id="projectAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12">
                                        <label>Name</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <input type="text" id="project_name" class="form-control" placeholder="Insert project name">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label>Пользователи</label>
                                    </div>
                                </div>
                                <div class="row mt-2" >
                                    <div class="col-12">
                                        <select class="form-select" multiple id="project_users">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="addProject()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto" id="projects-list">
            </div>
        </div>
        <script type="text/javascript">
            function loadProjectList(){
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function() {
                    let jsonObj = this.responseText;
                    let projectArray = JSON.parse(jsonObj);
                    let htmlCode = "";
                    for(let i = 0; i < projectArray.length; i++){
                        htmlCode += "<div class='card mt-2'><div class='card-body'>";
                        htmlCode += "<h5 class='card-title'><a href='/projects' class='text-decoration-none text-dark'>" + projectArray[i].name + "</a></h5>";
                        htmlCode += "<h6 class='card-subtitle mb-4'>"+projectArray[i].author.fullName+"</h6>";
                        let userArray = projectArray[i].authUserList;
                        let users = "";
                        for(let j = 0; j < userArray.length; j++){
                            users += userArray[i].fullName + " ";
                        }
                        htmlCode += "<h6 class='card-subtitle text-muted'>"+users+"</h6>";
                        htmlCode += "</div></div>";
                    }
                    document.getElementById("projects-list").innerHTML = htmlCode;
                }
                xhttp.open("GET", "/api/projects");
                xhttp.send();
            }

            function loadUsers(){
                fetch('/api/user_list')
                    .then(function (resp){
                        return resp.json()
                    })
                    .then(function (data){
                        let htmlCode = "";
                        for (const user of data) {
                            htmlCode += "<option value="+user.id+">"+user.fullName+"</option>"
                        }
                        document.getElementById("project_users").innerHTML = htmlCode;
                    })
            }
            window.onload = function (){
                loadProjectList();
                loadUsers();
            };

            function addProject(){
                let options = document.getElementById('project_users').selectedOptions;
                let values = Array.from(options).map(({ value }) => value);
                let name = document.querySelector('#project_name').value;


            }
        </script>
    </div>
</html>